#root {
    height: 100vh;
}

html {
    height: 100%;
}

/* ----------------------------- Top-Level Setup ---------------------------- */
.container-primary {
    width: 100%;
    height: 100%;
    padding: 0 24px;
}

.container-secondary {
    width: 100%;
    height: 100%;
    display: flex;
}

.wsidebar {
    scrollbar-width: thin;
}

.list-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    padding: 12px 24px;
}

.table-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    padding-bottom: 12px;
    padding-top: 12px;
    cursor: pointer;
}

.table {
    display: flex;
    //float: left;
    width: 100%;
    flex-direction: column;
    //align-items: center;
}

.table-entries {
    overflow-y: scroll;
}

.table-header {
    width: calc(100% - 56px);
    box-sizing: border-box;
    margin-left: 24px;
    margin-right: 32px;
}

.table-header-section {
    width: 100%;
    height: 100%;
    padding: 0;
    padding-top: 24px;
    padding-bottom: 12px;
}

.table-header-button {
    padding: 0;
    margin-left: 36px;
}

.table-header-button-disabled{
    padding: 0;
    margin-left: 12px;
    cursor: default;
}

.table-header-buttons {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
}

.table-entry-buttons {
    padding: 0;
    margin-left: 18px;
    margin-right: 18px;
}

.table-entry {
    //padding: 12px 24px;
    //padding: 12px 0;
}

.button-group {
    height: 100%;
    display: flex;
    align-items: center;
}

.sidebar-header {
    width: calc(100% - 48px);
    box-sizing: border-box;
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 24px;
    padding-bottom: 12px
}

.sidebar-options {
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.sidebar-buttons {
    padding: 0;
}

.modal-input {
    width: 90%;
    margin-left:5%;
}

.login-modal {
    width: 350px;
}

.signup-screen {
    width: 375px;
    height: 110%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
label {
    color: white;
    vertical-align: auto;
}
.modal-col-gap{
    column-gap: 24px;
}

.modal-button {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    padding-right: 40px;
    padding-left: 40px;
}
.maps-container {
    margin-top: 25px;
    // margin-left: 130px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 800px;
}
.maps-content {
    position: relative;
    display: flex;
    flex-direction: row;
}
.maps-header {
    background-color: rgb(116, 30, 30);
    text-align: center;
    padding-bottom: 20px;
    font-family: "Verdana";
}
.maps-header-text {
    padding: 10px 0px;
    font-size: xx-large;
    color: white;
}
.maps-list {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: rgb(37, 33, 33);
    overflow-y: auto;
}
.map-entry {
    background-color:rgb(116, 30, 30);
    color: white;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left:5px;
    font-size: x-large;
    border-radius: 3px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.map-side {
    position: relative;
    width: 50%;
}
.map-creation {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    background-color: blue;
    align-items:stretch
}
.map-input {
    display:flex;
    align-items: flex-end;
    color: black;
    background-color: rgb(116, 30, 30);
    line-height: 100%;
    margin-left:0px;
    width: 300px;
    height:100%;
    font-size: large;
    color:white;
    padding-left:10px;
    padding-right: 10px;
    border: none;
}
.map-name-input {
    font-size: x-large;
    border: none;
    background-color:rgb(248, 234, 234);
    border-radius: 5px;
    width: 80%;
    
}

.map-name-input:focus {
    outline: none !important;
    border:1px solid white;
    box-shadow: 0 0 5px #e2a1a1;
}
.map-input:focus {
    outline: none !important;
    border:2px solid white;
    box-shadow: 0 0 10px #e2a1a1;
}
.map-input::placeholder {
    color: white;
}
.map-button {
    padding: 0px 0px;
    background-color: red !important;
    color: blue !important;
}
.edit-map-name {
    margin-left: auto;
    float: right;
    margin-right: 5px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 4px;
    border-radius: 5px;
}
.map-name {
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
}
.material-icons:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}
.material-icons:active {
    background-color: white;
    transform: translateY(2px);
}
.delete-map {
    margin-left: auto;
    float: right;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 7px;
    padding-top: 4px;
    border-radius: 5px;
}
.link {
    color:white;
}

.modal-spacer {
    height: 24px;
}

.main-login-modal {
    padding: 24px 24px 0px 24px;
}

.modal-error {
    height: 24px;
    align-items: center;
    display: flex;
}

.delete-modal {
    width: fit-content;
}
.delete-map-modal {
    background-color: rgb(116, 30, 30);
    color: white;
    font-family: "Verdana";
    text-align: center;
}
.delete-map-header {
    font-weight: bolder;
    font-size: x-large;
}
.delete-map-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.button-type-delete:hover {
    background-color: rgb(187, 187, 187);
}

.col-spacer {
    width: 24px;
    display: inline-block;
}

.wsidebar {
    overflow-y: scroll;
}

.list-item-edit, .table-input, .table-select {
    width: 100%;
}

.list-item-edit-input {
    padding: 23px 24px 24px 24px !important;
}

.table-input, .table-select {
    height: 100%;
    display: flex;
    align-items: center;
}
//#region Spacing
.table-input-class {
    padding-left: 0px !important;
    padding-right: 0px !important;
    //font-size: 1.125rem;
}
.account-header {
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 10px;
    font-size: x-large;
    background-color: rgb(173, 53, 53);
    color:white;

}
//#endregion
.login-screen {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: 90%;
}
.account-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.account-main {
    background-color: rgb(32, 32, 32);
}
.account-footer {
    background-color: rgb(32, 32, 32);
}
.region-spreadsheet-container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 700px;
}
.regions-header {
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-family: Verdana;
    background-color: rgb(32, 32, 32);
    color: white;
    align-items:center
}

.region-link {
    font-weight: bold;
    text-decoration: none;
}
.regions-table-header {
    display: flex;
    position: relative;
    align-items: center;
    height: 30px;
    background-color: rgb(116, 30, 30);
    font-family: "Verdana";
    color:white;
}
.add-subregion-button {
    position:absolute;
    margin-right:1350px;
    font-size: 35pt;
}
.spreadsheet-content-container {
    margin-top: -35px;
}
.spreadsheet-content {
    position: relative;
    padding-left:3px;
    padding-bottom:4px;
    padding-top:4px;
    border: black solid 1px;
}
